body{
background-color:  darkslategray;

}

div{
background-color: white;
}
 
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#entradas{
width: 250px;
height: auto;
display: flex;
flex-direction: column;

}

.campo{
    flex-direction: row;
}

.botoes{
width: 250px;
}

button {
    width: 30px;
    padding: 4px;
    margin: 4px;

}